name: Check New Rewards Distribution Calculation

run-name: Check New Rewards Distribution Calculation

on:
    pull_request:
        paths:
            - 'distributions/latest.json'

jobs:
    check_distribution:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 20.x
                  cache: 'npm'

            - name: Install dependencies
              run: npm install

            - name: Run distribution check
              run: npm run check-distribution
